* {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #342E37;
}

header {
    background: #111;
    color: #fff;
}

header input {
    width: 5em;
    margin-left: 10px;
}

.maze {
    padding: 5px;
}

.maze table {
    border-collapse: collapse;
}

.maze tr {
    margin: 0px;
}

.maze td {
    font-size: 8px;
    width: 16px;
    height: 16px;
    padding: 0px;
    margin: 0px;
    border: 0px solid #0499ac;
}

.maze .borderLeft {
    border-left-width: 2px;
}

.maze .borderRight {
    border-right-width: 2px;
}

.maze .borderTop {
    border-top-width: 2px;
}

.maze .borderBottom {
    border-bottom-width: 2px;
}